:root {
    --primary-dark: #171F32;
    --primary-light: #F8D2C4;
    --title-big: 44px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: initial;
}

.bold {
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-areas:"welcome-page"
                        "about-me"
                        "about-me-picture"
                        "offer"
                        "contact"
                        "contact-znany-lekarz"
                        "therapy";
    grid-template-rows:  100vh repeat(6, auto);
    position: relative;
    /*margin: 1em;*/
}

.grid > section {
    padding: 1em;
}

.section-title {
    border-bottom: var(--primary-dark) solid 2px;
    padding-bottom: 1em;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
}

.section-subtitle {
    font-size: 18px;
    font-weight: bold;

}

.welcome-page {
    grid-area: welcome-page;
    /*background-color: var(--primary-light);*/
    /*background-image: url("images/pink-bg.png");*/
    /*background-size: cover;*/

    background: linear-gradient(to right, var(--primary-light) 70%, transparent 0%);
}

.about-me {
    grid-area: about-me;
}

.about-me-picture {
    grid-area: about-me-picture;
}

.offer {
    grid-area: offer;
}

.contact {
    grid-area: contact;
}

.contact-znany-lekarz {
    grid-area: contact-znany-lekarz;
    justify-self: flex-start;
}

.therapy {
    grid-area: therapy;
}

.blog {
    grid-area: blog;
    display: none;
}

.materials {
    grid-area: materials;
    display: none;
}

.aside {
    display: flex;
}

.nav {
    display: none;
}

.nav-title {
    font-size: 22px;
    border-bottom: var(--primary-dark) solid 1px;
    padding-bottom: 0.5em;
}

.welcome-page__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 66%;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 200;

}

.nav_mobile--open {
    color: #000;
    position: absolute;
    right: 22px;
    margin-top: 34px;
    width: 27px;
    height: 4px;
    background-color: var(--primary-dark);
}

.nav_mobile--open:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 27px;
    height: 4px;
    background-color: var(--primary-dark);
}

.nav_mobile--open:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 27px;
    height: 4px;
    background-color: var(--primary-dark);
}

.nav_mobile--exit {
    display: none;
}

.nav_mobile--exit {
    position: absolute;
    right: 22px;
    margin-top: 18px;
    width: 26px;
    height: 26px;
}

.nav_mobile--exit:before {
    content: '';
    position: absolute;
    top: 10px;
    width: 26px;
    height: 4px;
    background-color: var(--primary-dark);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav_mobile--exit:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 26px;
    height: 4px;
    background-color: var(--primary-dark);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.aside.responsive .nav {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: rgba(248, 210, 196, 0.95);
}

.aside.responsive .nav__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100vh;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
}

.aside.responsive .nav_mobile--open {
    display: none;
}

.aside.responsive .nav_mobile--exit {
    display: initial;
}

.more {
    display: none;
}

.img-Magda {
    width: 100%;
    height: 100%;
}

.sticky-wrapper {
    position: fixed;
    z-index: 9;
    bottom: 28px;
    right: 28px;
}

.sticky {
    position: absolute;
    display: none;
    margin-left: 10px;
    margin-top: 3px;
    width: 2px;
    height: 16px;
    background-color: var(--primary-dark);
    cursor: pointer;
}

.sticky:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-top: solid 2px var(--primary-dark);
    border-right: solid 2px var(--primary-dark);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

footer {
    margin: 0 auto;
    border-top: solid 1px var(--primary-dark);
    padding: 20px 0;
    width: calc(100% - 6px);
    text-align: center;
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    .grid {
        grid-template-areas:"welcome-page"
                        "about-me"
                        "about-me-picture"
                        "offer"
                        "contact"
                        "contact-znany-lekarz"
                        "therapy";
        grid-template-rows:  100vh repeat(6, auto);
        margin-left: 224px;
    }

    .aside {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 44px;
        width: 180px;
        height: 100vh;
        color: var(--primary-light);
        background-color: var(--primary-dark);
    }

    .welcome-page {
        grid-area: welcome-page;
        background-image: url("images/main-page-pic.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .welcome-page__text {
        width: 40%;
    }

    .nav-title {
        border-bottom: 2px solid var(--primary-light);
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav__list {
        padding-left: 0;
        list-style-type: none;
        color: var(--primary-light);
    }

    .nav__list li {
        padding-bottom: 0.5em;
    }

    a:link, a:visited {
        color: var(--primary-light);
    }

    .img-Magda {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .grid {
        grid-template-areas:"welcome-page"
                        "about-me"
                        "about-me-picture"
                        "offer"
                        "contact"
                        "contact-znany-lekarz"
                        "therapy";
        grid-template-rows:  100vh repeat(6, auto);
        margin-left: 264px;
    }

    .aside {
        width: 220px;
    }

    .nav-title {
        margin-top: 44px;
    }

    .welcome-page__text {
        margin-top: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .grid {
        grid-template-areas: "welcome-page welcome-page"
                             "about-me about-me-picture"
                             "offer offer"
                             "contact contact-znany-lekarz"
                             "therapy therapy"
                             "footer footer";
        grid-template-columns: 60% 40%;
        /*grid-row-gap: 100px;*/
        margin-left: calc(25% + 44px);
    }

    .aside {
        width: 25%;
    }

    .welcome-page__text {
        margin-top: 20px;
        font-size: 30px;
    }

    .about-me-picture {
        place-self: end;
        margin-top: 80px;
    }

    .img-Magda {
        width: 100%;
    }

    .contact-znany-lekarz {
        place-self: end;
        margin-top: calc(1em + 65px);
        margin-right: 2em;
    }

}

@media only screen and (min-width: 1500px) {
    .grid {
        grid-template-areas: "welcome-page welcome-page"
                             "about-me about-me-picture"
                             "offer offer"
                             "contact contact-znany-lekarz"
                             "therapy therapy";
        grid-template-columns: 70% 30%;
        grid-row-gap: 100px;
        margin-left: 23%;
    }


    .nav-title {
        font-size: var(--title-big);
        border-bottom: 2px solid var(--primary-light);
    }

    .welcome-page__text > p {
        margin-top: 94px;
        width: 30%;
        font-size: var(--title-big);
        font-weight: bold;
    }
}