$primary-color-dark: #171F32;
$primary-color-light: #F8D2C4;
$title-big: 44px;
$primary-font: 'Roboto', sans-serif;
$font-weights: (
        "light": 100,
        "bold": 700
);
$font-sizes: (
        "paragraph": 16px,
        "title": 23px,
        "subtitle": 18px,
        "nav-text": 23px
);

