
.more {
    display: none;
}

.img-Magda {
    width: 100%;
    height: 100%;
}

.sticky-wrapper {
    position: fixed;
    z-index: 9;
    bottom: 28px;
    right: 28px;
}

.sticky {
    position: absolute;
    display: none;
    margin-left: 10px;
    margin-top: 3px;
    width: 2px;
    height: 16px;
    background-color: var(--primary-dark);
    cursor: pointer;
}

.sticky:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-top: solid 2px var(--primary-dark);
    border-right: solid 2px var(--primary-dark);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

footer {
    margin: 0 auto;
    border-top: solid 1px var(--primary-dark);
    padding: 20px 0;
    width: calc(100% - 6px);
    text-align: center;
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    .grid {
        grid-template-areas:"welcome-page"
                        "about-me"
                        "about-me-picture"
                        "offer"
                        "contact"
                        "contact-znany-lekarz"
                        "therapy";
        grid-template-rows:  100vh repeat(6, auto);
        margin-left: 224px;
    }

    .aside {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 44px;
        width: 180px;
        height: 100vh;
        color: var(--primary-light);
        background-color: var(--primary-dark);
    }

    .welcome-page {
        grid-area: welcome-page;
        background-image: url("images/main-page-pic.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .welcome-page__text {
        width: 40%;
    }

    .aside__title {
        border-bottom: 2px solid var(--primary-light);
    }

    .aside__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .aside__nav__list {
        padding-left: 0;
        list-style-type: none;
        color: var(--primary-light);
    }

    .aside__nav__list li {
        padding-bottom: 0.5em;
    }

    a:link, a:visited {
        color: var(--primary-light);
    }

    .img-Magda {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .grid {
        grid-template-areas:"welcome-page"
                        "about-me"
                        "about-me-picture"
                        "offer"
                        "contact"
                        "contact-znany-lekarz"
                        "therapy";
        grid-template-rows:  100vh repeat(6, auto);
        margin-left: 264px;
    }

    .aside {
        width: 220px;
    }

    .aside__title {
        margin-top: 44px;
    }

    .welcome-page__text {
        margin-top: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .grid {
        grid-template-areas: "welcome-page welcome-page"
                             "about-me about-me-picture"
                             "offer offer"
                             "contact contact-znany-lekarz"
                             "therapy therapy"
                             "footer footer";
        grid-template-columns: 60% 40%;
        /*grid-row-gap: 100px;*/
        margin-left: calc(25% + 44px);
    }

    .aside {
        width: 25%;
    }

    .welcome-page__text {
        margin-top: 20px;
        font-size: 30px;
    }

    .about-me-picture {
        place-self: end;
        margin-top: 80px;
    }

    .img-Magda {
        width: 100%;
    }

    .contact-znany-lekarz {
        place-self: end;
        margin-top: calc(1em + 65px);
        margin-right: 2em;
    }

}

@media only screen and (min-width: 1500px) {
    .grid {
        grid-template-areas: "welcome-page welcome-page"
                             "about-me about-me-picture"
                             "offer offer"
                             "contact contact-znany-lekarz"
                             "therapy therapy";
        grid-template-columns: 70% 30%;
        grid-row-gap: 100px;
        margin-left: 23%;
    }


    .aside__title {
        font-size: var(--title-big);
        border-bottom: 2px solid var(--primary-light);
    }

    .welcome-page__text > p {
        margin-top: 94px;
        width: 30%;
        font-size: var(--title-big);
        font-weight: bold;
    }
}